<div class="py-12" id="how-to-order">
  <!-- Title -->
  <div class="mb-10 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">
      Cara Memesan di Toko Ini
    </h2>
  </div>
  <!-- End Title -->
  <div class="divide-y divide-gray-200">
    <div class="py-8 first:pt-0 last:pb-0">
      <div class="flex gap-x-5">
        <svg
          class="flex-shrink-0 mt-1 size-6 text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
          <path d="M12 17h.01"></path>
        </svg>
        <div>
          <h3 class="md:text-lg font-semibold text-gray-800">
            Bagaimana cara memilih produk?
          </h3>
          <p class="mt-1 text-gray-500">
            Anda dapat memilih produk yang Anda inginkan dengan menjelajahi
            katalog kami. Setelah menemukan produk yang sesuai, klik tombol
            'Tambahkan ke Keranjang'.
          </p>
        </div>
      </div>
    </div>
    <div class="py-8 first:pt-0 last:pb-0">
      <div class="flex gap-x-5">
        <svg
          class="flex-shrink-0 mt-1 size-6 text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
          <path d="M12 17h.01"></path>
        </svg>
        <div>
          <h3 class="md:text-lg font-semibold text-gray-800">
            Bagaimana cara melakukan pembayaran?
          </h3>
          <p class="mt-1 text-gray-500">
            Setelah menambahkan produk ke keranjang, klik ikon keranjang di
            pojok kanan atas dan pilih 'Checkout'. Ikuti langkah-langkah untuk
            memasukkan informasi pengiriman dan pilih metode pembayaran.
          </p>
        </div>
      </div>
    </div>
    <div class="py-8 first:pt-0
last:pb-0">
      <div class="flex gap-x-5">
        <svg
          class="flex-shrink-0 mt-1 size-6
text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
          <path d="M12 17h.01"></path>
        </svg>
        <div>
          <h3 class="md:text-lg font-semibold
text-gray-800">
            Bagaimana saya bisa melacak pesanan saya?
          </h3>
          <p class="mt-1
text-gray-500">
            Setelah pembayaran berhasil, Anda akan menerima email konfirmasi
            dengan nomor pelacakan. Gunakan nomor ini untuk melacak status
            pengiriman pesanan Anda.
          </p>
        </div>
      </div>
    </div>
    <div class="py-8 first:pt-0 last:pb-0">
      <div class="flex gap-x-5">
        <svg
          class="flex-shrink-0 mt-1 size-6 text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
          <path d="M12 17h.01"></path>
        </svg>
        <div>
          <h3 class="md:text-lg font-semibold text-gray-800">
            Apakah saya bisa membatalkan pesanan?
          </h3>
          <p class="mt-1 text-gray-500">
            Ya, Anda bisa membatalkan pesanan kapan saja sebelum pesanan
            dikirim. Silakan hubungi layanan pelanggan kami untuk bantuan lebih
            lanjut.
          </p>
        </div>
      </div>
    </div>
    <div class="py-8 first:pt-0 last:pb-0">
      <div class="flex gap-x-5">
        <svg
          class="flex-shrink-0 mt-1 size-6 text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
          <path d="M12 17h.01"></path>
        </svg>
        <div>
          <h3 class="md:text-lg font-semibold text-gray-800">
            Bagaimana cara menghubungi layanan pelanggan?
          </h3>
          <p class="mt-1 text-gray-500">
            Jika Anda memiliki pertanyaan atau memerlukan bantuan, Anda dapat
            menghubungi layanan pelanggan kami melalui email atau telepon yang
            tertera di halaman Kontak Kami.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
